@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Oswald:400,700,300|Source+Sans+Pro:400,700,400italic,700italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #3a3a3a;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}
body, body * {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body.custom-background {
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #FF5833;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="submit"] {
  margin-top: 16px;
  font-size: 0.81em;
}

label {
  margin-right: 8px;
  margin-left: 8px;
}

form p {
  margin-bottom: 8px;
}
form.reset_button {
  margin-top: 0;
  margin-bottom: 32px;
}
form.reset_button input {
  font-size: 0.75em;
  margin-top: 0;
}

iframe {
  border: 1px solid #eee;
}
iframe .switcherOuter {
  display: none !important;
}

.site {
  overflow: hidden;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.accent-color {
  color: #FF5833;
}

.small-print {
  font-size: 0.75rem;
  line-height: 1.3em;
  margin-bottom: 0;
  opacity: 0.7;
  margin-top: 16px;
}

/******************************************************************************\
	Settings
\******************************************************************************/
html {
  font-size: 16px;
}

/******************************************************************************\
	Font calculation mixins
\******************************************************************************/
/******************************************************************************\
	Standard font styling
\******************************************************************************/
body {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

p,
ul,
ol {
  font-size: 0.96em;
  line-height: 1.65em;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

blockquote {
  position: relative;
}
blockquote:before {
  display: block;
  float: left;
  content: "\"";
  font-size: 40px;
  font-size: 2.5rem;
  margin: 0 15px 15px 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
legend {
  font-family: Oswald, "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
  line-height: 1.2;
  font-weight: 500;
}
@media screen and (min-width: 769px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  h5,
  h6,
  legend {
    word-wrap: normal;
  }
}

h1, .h1, h2, .h2, legend {
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

h1,
.h1 {
  font-size: 40px;
  font-size: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 481px) {
  h1,
  .h1 {
    font-size: 48px;
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: 25.6px;
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.025em;
}
@media screen and (min-width: 481px) {
  h2,
  .h2 {
    font-size: 28.8px;
    font-size: 1.8rem;
  }
}

h3,
.h3 {
  font-size: 17.6px;
  font-size: 1.1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 481px) {
  h3,
  .h3 {
    font-size: 19.2px;
    font-size: 1.2rem;
  }
}

h4,
h5,
h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}

h2,
h3 {
  page-break-after: avoid;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

p ~ h1 {
  margin-top: 3rem;
}

.bottom-padding {
  display: inline-block;
  margin-bottom: 8px;
}

html .mceContentBody {
  font-size: 100%;
  max-width: 650px;
}

/*# sourceMappingURL=wp-editor-style.css.map */
