// variables
$princeton-orange: #f58025;

$color1: #222;
$color2: #fafafa;
$color3: $princeton-orange;

// default styling

html { }

body {
	color: $color__text-default;
	position: relative;
	min-height: 100vh;
	box-sizing: border-box;

	&, * {
		box-sizing: inherit;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
}

body.custom-background {
	background-position: center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

a {
	text-decoration: none;
	color: $color__branding-primary;
}


img {
	max-width: 100%;
	height: auto;
}

input, textarea { }

input[type="submit"]{
	margin-top: 16px;
}

label{
	margin-right: 8px;
	margin-left: 8px;
}

form {
	p {
		margin-bottom: 8px;
	}
	&.reset_button{
		margin-top: 0;
		margin-bottom: 32px;
		input{
			font-size: 0.81em;
			margin-top: 0;
		}
	}
}

iframe {
	border: 1px solid #eee;
	.switcherOuter{
		display: none !important;
	}
}

.site {
	overflow: hidden;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.accent-color {
	color: $color__branding-primary;
}

.small-print {
	font-size: 0.75rem;
	line-height: 1.3em;
	margin-bottom: 0;
	opacity: 0.7;
	margin-top: 16px;
}
