/******************************************************************************\
	General
\******************************************************************************/

@import "resources";

article {
	@include clearfix;
}

.archive-title, .search-title h1 {
	@include font-size(1.3);

	font-weight: normal;
	// background: $color2;
	text-align:center;
	// color: $color1;
	margin-top: 0;
	margin-bottom:0;
	padding: 0.6em 0;
}

.archive-description, .second-search {
	@include font-size(0.9);

	font-style: italic;
	margin-top:0;
	// background: $color2;
	// color: $color1;
	text-align: center;
	padding-top:0;
	padding-bottom: 0.8em;

	p {
		margin:0;
	}

	form {
		margin-top:0.5em;
		margin-bottom: 0.6em;
	}

	input {
		box-shadow:none;
	}
}

.read-more, .post-links a{
	text-transform: uppercase;
	color: $color__branding-primary;
	font-size: 0.8em;
	letter-spacing: 0.04em;
}
/******************************************************************************\
	Standard-page
\******************************************************************************/

.page-template-page-home-1 .page-content {
	padding-left: $width__side-nav + 20px;
	padding-right: 20px;
}

.page-content {
	padding-left: $width__side-nav + $content-padding;
	// padding-right: $width__right-sidebar + $content-min-padding;
	padding-right: $content-padding;

	padding-bottom: 200px;
	min-height: calc(100vh - #{$height__footer-bar} + 2px);

	.officerBox {
		h2 { margin-bottom: 0; }
		.address {
			font-style: italic;
			margin-top: 0;
			margin-bottom: 4px;
			opacity: 0.55;
		}
		.bio {
			margin-top: 12px;
		}
		.image{
			display: inline-block;
			margin-bottom: 0;
			margin-top: 0;
			float: left;
			img {
				width: 150px;
			}
		}

		.title {
			font-size: 1.8em;
			letter-spacing: 0;
			a, .position {
				display: block;
			}
			.position {
				font-size: 0.6em;
				// font-family: $base-font;
				letter-spacing: 0.02em;
				margin-bottom: 2px;
			}
		}
		@media screen and (max-width: $bp-min){
			.image {
				width: 100%;
				img { width: 100%; }
				margin-bottom: 16px;
			}
		}
	}

	h1, h2, h3, h4, h5 {
		& + p { margin-top: 0; }
	}
}

.post, .post-aside{
		padding: 0 0 $content-padding/2 0;
		max-width: $content-max-width;
}


.post{
		&:before{
		content: '';
		position: relative;
		display: block;
		margin-left: -$width__side-nav - $content-padding;
		width: 400%;
		min-width: calc(100vw + #{$width__side-nav} - #{$content-padding});
		height: $height__content-color-bar;
		background-color: $color__branding-secondary-dark;
		margin-bottom: -1.4em;
		z-index: -1;
		box-sizing: content-box;
	}
}



.post-title, h1, .h1 {
	margin: 1.5em;
	font-size: 2.2em;
	margin-left: 0;
	line-height: 1.1em;
	// margin-top: $height__content-color-bar;
	// @include inline-color-fill($color: $color__branding-secondary-dark, $text-color: #fff, $width: 0.25em, $optional-top-border-width: 0.09em, $side-margins: false, $vertical-adjust: -0.1em);
	@include inline-color-fill($color: $color__branding-secondary-dark, $text-color: #fff, $width: 0.25em, $side-margins: true);
	// @include span-columns(10);
	// @include shift(1);

	// border-top: 0.03em solid $color2;
	// border-bottom: 0.03em solid $color2;
	// text-align: center;
	// margin-bottom: 0.2em;

	// &:first-child {
	// 	margin-top: 1em;
	// }
}

.single .post-title {
	&:first-child {
		margin-top: 1em;
	}
}

.post-meta {
	@include span-columns(8);
	@include shift(2);

	text-align: center;
	font-style: italic;
}

.post-content {
	// @include span-columns(10);
	// @include shift(1);

	position: relative;
	// background: $color2;
	// color: $color1;
	margin-top: 1.5em;
	p {
		margin-top: 20px;
	}
}

.page .post-content {
	margin-bottom:3.5em;
}


/******************************************************************************\
	Front-page and archives
\******************************************************************************/

.home, .archive, .search, .author {
	.post-content {
		// @include span-columns(4);
		// @include shift(2);

		background: none;
		// color: $color2;
		padding: 0;
		margin: 20px 0;
		// text-align: center;
	}

}

.pagination {
	@include span-columns(12);

	// border-bottom: 3px solid $color2;

	ul {
		list-style: none;
		text-align:center;
		margin: 1em 0 0 0;
		padding: 0.6em 0;
		// background: $color1;
	}

	li {
		display: inline;
		margin: 0 0.5em;
	}
}

.reg-info{
	padding: 0 26px;
	margin-right: 24px;
	border: 1px solid #999;
}


/*******************
	media queries 
*******************/
@media screen and (max-width: $bp-mid-high){
	.page-content {
		padding-left: $width__side-nav--tablet + $content-padding--tablet;
		// padding-right: $width__right-sidebar + $content-min-padding--tablet;
		padding-right: $content-min-padding--tablet;
	}
	.page-template-page-home-1 .page-content {
		padding-left: $width__side-nav--tablet + 20px;
		padding-right: 20px;
	}

	.post{
			padding: 0 0 $content-padding--tablet/2 0;

			&:before{
			// margin-left: -$width__side-nav--tablet - $content-padding--tablet;
			// margin-left: -$content-padding--tablet;
			height: $height__content-color-bar--tablet;
		}
		&:first-of-type:before{
			height: $height__content-color-bar--tablet + 20px;
		}
	}
}

@media screen and (max-width: $bp-mid-low){
	.reg-info{
		margin-right: 0;
	}
	.page-content {
		padding-left: $content-padding--mobile;
		padding-right: $content-padding--mobile;
		font-size: 0.94em;
		.post-title, h1, .h1 {
			font-size: 1.65rem;
		}
	}
	.page-template-page-home-1 .page-content {
		padding-left: 16px;
		padding-right: 16px;
	}
}


