.site-header {
	// position: fixed;
	width: 100%;
	height: $height__top-bar;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color__branding-secondary-dark, 0.9);
	z-index: 1;

	.top-bar-links {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;

		p{
			display: inline-block;
			color: $color__branding-primary--light;
			line-height: $height__top-bar;
			margin: 0;
			vertical-align: top;
			// text-transform: uppercase;
			font-size: 0.7em;
			color: #ddd;
			font-weight: 300;
			letter-spacing: 0.1em;
			margin-right: -2px;
		}

		ul{
			$icon-padding: 8px;
			height: 100%;
			padding: $icon-padding;
			display: inline-block;
			margin: 0 12px 0 0;

			li {
				display: inline-block;
				height: 100%;

				@include icon-sprite('images/top-bar-sprite', 100%, 1, 5 2, $list: (facebook, twitter, instagram, annual-giving, pu06-dues), $pseudo-element: ' a:after');
				@include icon-sprite('images/top-bar-sprite', 100%, 2, 5 2, $list: (facebook, twitter, instagram, annual-giving, pu06-dues), $pseudo-element: ' a:before');

				a {
					position: relative;
					display: inline-block;
					height: $height__top-bar - (2 * $icon-padding);
					width: $height__top-bar - (2 * $icon-padding);
					overflow: hidden;
					text-indent: 100%;
					white-space: nowrap;
					margin-left: 3px;
					// @include icon-sprite('images/blah', 100%, 1, 5 2, $list: (facebook, twitter, instagram, annual-giving, pu06), $pseudo-element: ':after');
					// @include icon-sprite('images/blah', 100%, 2, 5 2, $list: (facebook, twitter, instagram, annual-giving, pu06), $pseudo-element: ':before');

					span{

					}
					&:before, &:after {
						content: '';
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						opacity: 0;
						@include transition(opacity 300ms);
					}
					&:after {
						opacity: 1;
					}

					&:hover{
						&:before{ opacity: 1; }
						// &:after{ opacity: 0; }
					}
				}
			}

			&:last-of-type{
				margin-right: 0;
			}

			&.give-back-links{
				padding-right: 8px;
				margin-right: 8px;
				li {
					margin-right: 4px;
				}
			}
		}
	}
}

.custom-header {
	position: absolute;
	top:0;
	width: 100%;
	img{ width: 100%; }
}

.logo {
	position: relative;
	z-index: 2;

	.blog-name {
		margin: 0;
		font-family: $base-font;
		font-size: 0.65em;
		display: inline-block;
		line-height: $height__top-bar;
		color: #ddd;
		font-weight: 300;
		letter-spacing: 0.3em;
		margin-left: $width__side-nav + 16px;
	}

	.blog-description {
		display: none;
	}
}

// media queries

@media screen and (max-width: $bp-mid-high){
	.site-header {
		height: $height__top-bar--tablet;

		.nav-social-links {

			ul{
				$icon-padding: 5px;
				padding: $icon-padding;
				li {
					a {
						height: $height__top-bar--tablet - (2 * $icon-padding);
						width: $height__top-bar--tablet - (2 * $icon-padding);
					}
				}
			}
		}
	}

	.logo .blog-name {
		line-height: $height__top-bar--tablet;
		margin-left: $width__side-nav--tablet + 16px;
	}
}
