.right-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: $width__right-sidebar;
  padding-top: $height__top-bar + 40px;
  // background-color: $color__page-background;

  .widget {
    position: relative;
    width: calc(100% - #{2 * $widget__side-padding});
    margin-left: $widget__side-padding;
    padding: 32px 16px 16px;
    background-color: $color__page-background;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1em;
    margin-bottom: 56px;

    .widgettitle {
      position: absolute;
      display: inline-block;
      width: auto;
      top: 0;
      left: 50%;
      background-color: $color__branding-secondary-dark;
      color: #fff;
      padding: 4px 8px;
      white-space: nowrap;
      @include transform(translate(-50%, -50%));
    }

    h3, h4 {
      margin-top: 0.4em;
      color: $color__branding-primary;
    }

    p {
      text-align: center;
    }

    .block{
      display: block;
      font-size: 0;
    }
  }
}
