$color__branding-primary--light: #f37121;
$color__branding-primary--dark: #FF5833;
$color__branding-secondary-dark: #000;
$color__branding-secondary-mid: #e20101;
$color__branding-secondary-light: #f12f2f;

$color__subtle-accent: #F5F0EB; // (beige)

$color__text-default: #3a3a3a;

$color__branding-primary: $color__branding-primary--dark;
