$bp-min: 420px;
$bp-mid-low: 600px;
$bp-mid-high: 960px;
$bp-max: 1200px;

$height__top-bar: 44px;
$height__title-bar: 124px;
$width__side-nav: 140px;

$content-padding: 100px;
$content-min-padding: 20px;
// $content-max-width: $bp-mid-high - (1.5 * $content-padding);
$content-max-width: 680px;

$height__top-bar--tablet: 38px;
$height__title-bar--tablet: 88px;
$width__side-nav--tablet: 118px;

$content-padding--tablet: 50px;

$width__right-sidebar: 400px;
$width__right-sidebar--closed: 40px;
$widget__side-padding: 40px;
